# Default ignored files
/shelf/
/bin
/bin-int
/workspace.xml

# Rider ignored files
/.idea.CPPForJavaDevs.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml

# IntelliJ
/.idea/.idea.CPPForJavaDevs/.idea/